[package]
name = "cliprs"
description = "Rust bindings to CLIP.cpp"
version = "0.2.0"
edition = "2021"
license = "MIT"

[dependencies]
cxx = "1.0"

[build-dependencies]
cxx-build = "1.0"
cc = "1.0"
# libloading = "0.9.0"
